body {
    background: #e6eef7;
    font-family: Arial, sans-serif;
    text-align: center;
}

#game-area {
    margin: 20px auto;
    width: 800px;
    height: 500px;
    border: 3px solid #333;
    position: relative;
    background: #bcd;
}

#runway {
    position: absolute;
    width: 600px;
    height: 120px;
    background: #444;
    top: 190px;
    left: 100px;
}

#plane {
    position: absolute;
    width: 80px;
    height: 40px;
    background: red;
    top: -60px;
    left: 360px;
    transition: 1s;
}

.tug {
    position: absolute;
    width: 40px;
    height: 30px;
    background: yellow;
    top: 350px;
    left: 50px;
    transition: 1s;
}

#robot {
    position: absolute;
    width: 35px;
    height: 35px;
    background: green;
    top: 350px;
    left: 720px;
    transition: 1s;
}
