body {
    background: #dee7f0;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    margin-top: 10px;
    font-size: 32px;
    font-weight: bold;
}

#panel {
    margin: 15px auto;
    width: 800px;
    display: flex;
    justify-content: space-between;
}

#btn-authorize {
    padding: 10px 20px;
    background: #2277ff;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
}

#queue {
    font-size: 18px;
    padding: 10px;
}

#game-area {
    margin: 20px auto;
    width: 900px;
    height: 560px;
    border: 3px solid #333;
    position: relative;
    background: #b2d4c4;
}

#runway {
    position: absolute;
    top: 200px;
    left: 80px;
    width: 740px;
    height: 150px;
    background: #3b3b3b;
    border: 3px dashed #fff;
}

#taxiway {
    position: absolute;
    top: 380px;
    left: 150px;
    width: 600px;
    height: 80px;
    background: #666;
    border-top: 4px solid yellow;
}

.plane {
    position: absolute;
    width: 75px;
    height: 75px;
    background-size: cover;
    transition: transform 1.2s, top 1s, left 1s;
}

.tug {
    position: absolute;
    width: 50px;
    height: 50px;
    background-size: cover;
    background-image: url("https://cdn-icons-png.flaticon.com/512/3561/3561407.png");
    transition: 1s;
}

.robot {
    position: absolute;
    width: 45px;
    height: 45px;
    background-size: cover;
    background-image: url("https://cdn-icons-png.flaticon.com/512/4712/4712027.png");
    transition: 1s;
}

#planes-container {
    position: absolute;
    top: 0;
    left: 0;
}
